body {
    background-color: rgb(45, 16, 209);
    /* Color de fondo rojo */
    color: rgb(223, 188, 36);
    /* Color del texto amarillo */
}

h1 {
    font-size: 48px;
    /* Tamaño de fuente de 24 píxeles */
}